/* styles.css */
body {
    background-color: #3B82F6    ;
    color: white; /* Applies white text color to all text */
    font-family: Arial, sans-serif;
}

head{
    background-color: darkblue;
}
header{
    background-color: #22C55E

    ;
}
a{
    color: gold;
}
h4{
    color: darkviolet;
    text-align: left;
}h3
{
    color: yellow;
    text-align: left;
}
h2{
    color: green;
    text-align: left;
}
h1{ 
    color: red;
    text-align: center;
}
p {
    color: black; /* Ensures all paragraphs are white */
    font-size: 16px;
    line-height: 1.5;
}
b{
    color:red
}
